@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #000000ea;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218); 
    border-radius: 10px;
    margin: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

body {
    font-family: 'Montserrat';
    background-color: #28282B;
    text-align: center;
}

* {
    margin: 0px;
}

.PlayerAmount {
    color:rgb(204, 204, 204);
    font-weight: 600;
    font-size: 20px;
    text-shadow: 3px 3px #00000036;
}

#playerDiv {
    background-color: #00000063;
    height: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    width: 50vh;
    padding: 30px;
    border-radius: 30px;
    border: solid 2px rgba(0, 255, 85, 0.144);
    box-shadow: 0 5px 20px #19e91925;
}

.playerlist {
    display: flex;
    margin: 0px 0px 0px 10%;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 30px;
    overflow-y: scroll;
    gap: 20px;
    background-color: #00000063;
    height: 500px;
    box-shadow: 0 5px 20px #00000088;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.bg {
    display: flex;
    left: 50%;
    width: 100%;
    padding: 80px 0px 80px 0px;
    margin: 0 0 120px 0;
    gap: 4px;
    background-blend-mode: multiply;
    background-image: url('../ass/assets/Background.jpg');
    background-size: 11%;
    background-color: #343335;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 20px #00000088;
}

.cooldown {
    color:rgb(204, 204, 204);
    font-weight: 700;
    font-size: 40px;
    text-shadow: 3px 3px #2e2e2e36;
}

.copyIPButton {
    background-color: #e0e0e0;
    padding: 12px;
    border: #00000000;
    box-shadow: 0 5px 20px #000000ce;
    font-family: 'Montserrat';
    transition: .25s;
    font-weight: 600;
}

.copyIPButton:hover {
    background-color: #ffffff;
    box-shadow: 0 0px 20px #ffffff;
    scale: 1.05;
    transform: translateY(-2px);
}

.copyIPButton:active {
    transition: .1s;
    background-color: #713d9b;
    box-shadow: 0 5px 20px #000000ce;
    color: #ffffff91;
    scale: 1;
    transform: translateY(0px);
}

.copyBedrockIPButton {
    background-color: #ab45ff00;
    padding: 12px;
    border: solid 5px #d1d1d1;
    box-shadow: 0 5px 20px #000000ce;
    font-family: 'Montserrat';
    transition: .25s;
    font-weight: 600;
    color: #d1d1d1;
}

.copyBedrockIPButton:hover {
    border: solid 5px #d1d1d1;
    background-color: #d1d1d1;
    box-shadow: 0 0px 20px #d1d1d1;
    scale: 1.05;
    transform: translateY(-2px);
    color: #000000;
}

.copyBedrockIPButton:active {
    border: solid 5px #d1d1d1;
    transition: .1s;
    background-color: #d1d1d1;
    box-shadow: 0 5px 20px #000000ce;
    color: #ffffff91;
    scale: 1;
    transform: translateY(0px);
}